/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset stylesheet */

/* Start of Left Half */
#main-wrap{
    display: flex;
}

#lefthalf{
    width: 45vw;
    height: 100vh;
    background: linear-gradient(225.63deg, #37445B -17.16%, #19202C 79.72%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#heading{
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

#mike{
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 67.8095px;
    line-height: 81px;
    color: #FFFFFF;
}

#contact{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 15px;
}

#contact-logos{
    width: 170px;
    display: flex;
    justify-content: space-around;
}

.logo-wrap{
    width: 25px;
    height: 25px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fb{
    height: 15.84000015258789px;
    width: 7.920000076293945px; 
}

#tt{
    height: 12.960000038146973px;
    width: 15.84000015258789px;
}

#insta{
    height: 18.719999313354492px;
    width: 18.719999313354492px;
}

/* End of Left Half */
/* ------------------------- */

/* Product Image */
#shoeimg{
    position: absolute;
    height: 370px;
    width: 500px;
    left: 90px;
    top: 100px;
}

/* -------------------------------------------------------------- */
/* Right half start */

#righthalf{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

#wholewrap{
    width: 48%;
}

#topwrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchbox{
    height: 40px;
    width: 263px;
    border-radius: 24px;
    border: 0;
    background-color: rgba(0,0,0,0.1);
}

#searchicon{
    position: relative;
    right: 35px;
}

#cartwrap{
    display: flex;
    justify-content: space-between;
    width: 50px;
}

#cart-icon{
    height: 19.28729248046875px;
    width: 24px;   
}

#countwrap{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#count{
    height: 18px;
    width: 7px;  
}

/* hamburger menu */
#hamburger{
    height: 18.85714340209961px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bars{
    height: 3.327731132507324px;
    width: 24px;
    background-color: black;
    border-radius: 5px;
}

#secondline{
    margin: 15px 0px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-path{
    font-size: 14px;
}

.product-path:last-child{
    color: rgba(50.2%, 50.2%, 50.2%, 0.9);
}

.product-arrow{
    font-size: 8px;
}

#product-wrap{
    height: 100px;
    width: 80%;
}

#product{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 56px;
}

#review{
    margin: 15px 0px;
    width: 33%;
    display: flex;
    justify-content: space-between;
}

.star{
    color: #FFB632;
}

#vote{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;    
    text-decoration-line: underline;
    color: #3F88EB;
}

#price-wrap{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#discountprice{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
}

#originalprice{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    opacity: 0.3;
    margin-left: 20px;    
}

#description-wrap{
    margin: 15px 0px;
}

#description{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

#order-wrap{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#color-wrap{
    height: 45px;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#color-text p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

#colors{
    margin-top: 5px;
    width: 60px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EDEDED;
    border-radius: 20px;
}


.color{
    height: 18px;
    width: 18px;
    border-radius: 20px;
}

.color:first-child{
    background-color: black;
    color: white;
    text-align: center;
}

.color:nth-child(2){
    background: #F3F3F3;
}

.color:nth-child(3){
    background: #7A3050;
}

#size-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sizeselectwrap{
    margin-top: 5px;
}

#sizeselect{
    border: 1px solid #EDEDED;
    border-radius: 20px;
    width: 60px;
    height: 25px;
}

#size-text p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

#qty-text p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;    
}

#qtyselectwrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #F1F1F1;
    border-radius: 20px;
    height: 25px;
    margin-top: 5px;
}

#cart-wrap{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 20px 0;
}

#addtocart{
    height: 50px;
    width: 210px;   

    background: #3F88EB;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

#carticon{
    height: 14.465468406677246px;
    width: 18px;
    margin-right: 10px;
}

#addtocart p{
    color: #FFFFFF;
}

#savetowishlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#likeicon{
    height: 12.800000190734863px;
    width: 16.66666603088379px;
    margin-right: 10px;    
}

#savetowishlist p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;    
}